@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

/**********************************
------------COMMON STYLE-----------
**********************************/
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
#container {
  max-width: 1320px;
  margin: 30px auto 120px;
}
/**********************************
--------HEADER AREA STYLE----------
**********************************/
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 8px;
}
.header-area-content {
  padding: 2% 0% 2% 5%;
  width: 50%;
}
.header-area-content h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  margin: 0px 0;
}
.header-area-content p {
  color: #fff;
  width: 75%;
  font-size: 1em;
}
.custom-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 8px 0px;
  background-color: #dd0000;
  font-size: 20px;
  padding: 2% 3%;
  border-radius: 5px;
}
.custom-btn span {
  margin-left: 10px;
}
.top-banner {
  padding: 2% 5% 0% 0%;
  width: 50%;
}

/***************************************************
-----------------BLOG AREA STYLE--------------------
***************************************************/
.blog-area-container {
  display: flex;
}
.nav-area {
  width: 350px;
  height: 250px;
  margin-right: 20px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
}
.nav-button {
  background-color: #fff;
  border: 1px solid #f3f3f3;
  margin: 10px 0px;
  padding: 3% 5%;
  border-radius: 5px;
  width: 180px;
  text-align: center;
}
.nav-button a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  text-align: center;
}
.active-nav {
  background-color: #dd0000;
}
.active-nav a {
  color: #fff;
}
.blogs {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
}
.blog {
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  box-shadow: 5px 5px 5px 5px #f2f2f2;
}
.blog-button {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1% 5%;
  margin: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  color: #000;
}
.blog h3 {
  margin: 5px 15px;
  font-size: 18px;
}
.icon-container {
  margin: 5px 15px;
  display: flex;
}
.icon-content {
  margin-right: 35px;
  color: #161616;
}
.icon-content span {
  margin-left: 8px;
}
.hidden-button {
  margin-top: 80px;
  border-radius: 5px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dd0000;
  text-align: center;
  display: none;
}
.hidden-button a {
  display: inline-block;
  padding: 5%;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
/************************************************
------------------RESPONSIVENESS-----------------
************************************************/

/* HEADER AREA MEDIA QUERIES */

/* for mobile  */
@media only screen and (max-width: 688px) {
  #container {
    margin: 10px auto 10px;
    padding: 2%;
  }
  /* HEADER AREA  */
  .header-container {
    flex-direction: column;
  }
  .header-area-content h1 {
    font-size: 22px;
    display: inline;
  }
  .header-area-content p {
    font-size: 14px;
  }
  /* BLOG AREA  */
  .blog-area-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-area {
    width: 100%;
    background-color: #fff;
    flex-direction: column;
  }
  .nav-button {
    margin: 10px 0px;
    padding: 2%;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .tab-none {
    display: none;
  }
}

/* for tablet */
@media screen and (min-width: 688px) and (max-width: 992px) {
  #container {
    width: 740px;
    margin: 30px auto 40px;
  }
  /* HEADER AREA  */
  .header-area-content h1 {
    font-size: 40px;
  }
  .header-area-content p {
    font-size: 14px;
  }
  /* BLOG AREA  */
  .blog-area-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-area {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    background-color: #fff;
    flex-direction: row;
  }
  .nav-button {
    margin: 0px 20px;
    padding: 2%;
  }
  .blogs {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .tab-none {
    display: none;
  }
  .hidden-button {
    display: block;
  }
}
